 <!-- Footer area start -->
 <footer class="footer__area-2 pt-130">
    <div class="container">
      <div class="footer__top-2 text-anim">
        <div class="row">
          <div class="col-xxl-12">
            <h2 class="sec-title-3 title-anim">Get started <br> now</h2>
            <p class="footer__sub-title">If you would like to work with us or
              just want to get in touch, we’d love
              to hear from you!</p>
          </div>
        </div>
      </div>

      <div class="footer__middle-2">
        <div class="row">
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
            <div class="footer__location-2">
              <div class="location">
                <h3>Saudi Arabia </h3>
                <p>Sidra Tower,
                  Prince Sultan Bin Abdulaziz Rd,
                  Al Andalus District, Al-Khobar</p>
              </div>
              
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
            <div class="footer__subscribe-2">
              <form action="#">
                <input type="text" name="email" placeholder="Enter your email">
                <button type="submit" class="submit"><img src="assets/imgs/icon/arrow-black.png"
                    alt="Arrow Icon"></button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__btm-2">
        <div class="row">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5">
            <div class="footer__copyright-2">
              <p>©  2024 | Alrights reserved by <a href="https://thrillagancy.net/" target="_blank">Thrill Agency</a>
              </p>
            </div>
          </div>
          <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7">
            <div class="footer__nav">
              <ul class="footer-menu menu-anim">
            <li><a target="_blank" href="https://www.linkedin.com/company/thrill-creative-agency/">linkedin</a></li>
            <li><a target="_blank" href="https://www.tiktok.com/@thrill_mena">Tiktok</a></li>
            <li><a target="_blank" href="https://www.instagram.com/thrill_mena/">Instagram</a></li>
            <!-- <li><a target="_blank" href="#">Facebook</a></li> -->
            <li><a target="_blank" href="https://twitter.com/thrill_mena?s=11&t=OZ4-hakkqu-pIweJjQ4XxA">Twitter</a></li>
        
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer area end -->
