<!-- Header area start -->
<header class="header__area-2">
    <div class="header__inner-2">
      <div class="header__logo-2">
        <a href="/"><img src="assets/imgs/logo/site-logo-white-2.png" width="200"  alt="Site Logo"></a>
      </div>
      <div class="header__nav-2">
        <ul class="main-menu menu-anim">
          <li class=""><a href="/">home</a>
            <li class=""><a href="/about">About us</a>
            <li class=""><a href="/service">Service</a>
              <li class=""><a href="/contact">Contact</a>
                <li class=""><a href="tel:+966 53 690 0404">+966 53 690 0404</a> </li>

       
        </ul>
      </div>
      <div class="header__nav-icon-2">
        <button class="menu-icon-2" id="open_offcanvas"><img src="assets/imgs/icon/menu-white.png"
            alt="Menubar Icon"></button>
      </div>
    </div>
  </header>
  <!-- Header area end -->


  <div class="offcanvas__area">
    <div class="offcanvas__body">
      <div class="offcanvas__left">
        <div class="offcanvas__logo">
          <a href="/"><img src="assets/imgs/logo/site-logo-white-2.png" width="120" alt="Offcanvas Logo"></a>
        </div>
        <div class="offcanvas__social">
          <h3 class="social-title">Follow Us</h3>
          <ul>
            <li><a target="_blank" href="#">Dribbble</a></li>
            <li><a target="_blank" href="#">Behance</a></li>
            <li><a target="_blank" href="#">Instagram</a></li>
            <li><a target="_blank" href="#">Facebook</a></li>
            <li><a target="_blank" href="#">Twitter</a></li>
            <li><a target="_blank" href="#">YouTube</a></li>
          </ul>
        </div>
        <div class="offcanvas__links">
          <ul>
            
          </ul>
        </div>
      </div>
      <div class="offcanvas__mid">
        <div class="offcanvas__menu-wrapper">
          <nav class="offcanvas__menu">
            <ul class="menu-anim">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/service">Service</a></li>
              <li><a href="/contact">contact</a></li> 
            </ul>
          </nav>
        </div>
      </div>
      <div class="offcanvas__right">
      
        <div class="offcanvas__contact mt-5">
          <h3>Get in touch</h3>
          <ul>
            <li><a href="tel:+966 53 690 0404">+966 53 690 0404</a></li>
            <li><a href="mailto:hello@thrillagancy.net">hello@thrillagancy.net</a></li>
            <li><h3>Saudi Arabia </h3>
              <p>Sidra Tower,
                Prince Sultan Bin Abdulaziz Rd,
                Al Andalus District, Al-Khobar </p></li>
          </ul>
        </div>
        <img src="assets/imgs/shape/11.png" alt="shape" class="shape-1">
        <img src="assets/imgs/shape/12.png" alt="shape" class="shape-2">
      </div>
      <div class="offcanvas__close">
        <button type="button" id="close_offcanvas"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
  </div>

  