<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Axtra HTML5 Template">

  <title>Service - Thrill Agency</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

  <!-- All CSS files -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/progressbar.css">
  <link rel="stylesheet" href="assets/css/meanmenu.min.css">
  <link rel="stylesheet" href="assets/css/master.css">
  <link rel="stylesheet" href="style.css">
</head>


<body class="dark">
  <!-- Cursor Animation -->
  <div class="cursor1"></div>
  <div class="cursor2"></div>



  <%- include('components/loading.ejs'); -%>




  



  <!-- Scroll Smoother -->
  <div class="has-smooth" id="has_smooth"></div>


  <!-- Go Top Button -->
  <button id="scroll_top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>

  <%- include('components/header.ejs'); -%>

 


  


  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Hero area start -->
        <section class="solution__area">
          <div class="container hero-line"></div>
          <div class="solution__wrapper">
            <div class="solution__left">
              <div class="solution__img-1">
                <img src="assets/imgs/thumb/solution.png" alt="Solution Image">
              </div>
              <div class="solution__img-2">
                <img src="assets/imgs/thumb/solution-2.png" alt="Solution Image">
              </div>
            </div>

            <div class="solution__mid">
              <h1 class="solution__title animation__char_come">Digital Solution</h1>
              <p>We’re designing digital experiences that enrich human lives and it helps to grow your business
                globally trends.</p>
            </div>

            <div class="solution__right">
              <div class="solution__img-3">
                <img src="assets/imgs/thumb/solution-3.png" alt="Solution Image">
              </div>
            </div>
          </div>

          <div class="container pb-130">
            <div class="row">
              <div class="col-xxl-12">
                <div class="solution__btm">
                  <ul>
                    <li>Approch</li>
                    <li>Creativity</li>
                    <li>Experienced</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="solution__shape">
            <img src="assets/imgs/icon/1.png" alt="Shape Image" class="shape-1">
            <img src="assets/imgs/icon/2.png" alt="Shape Image" class="shape-2">
            <img src="assets/imgs/icon/3.png" alt="Shape Image" class="shape-3">
            <img src="assets/imgs/icon/4.png" alt="Shape Image" class="shape-4">
            <img src="assets/imgs/icon/5.png" alt="Shape Image" class="shape-5">
          </div>
        </section>
        <!-- Hero area end -->


        <!-- Service area start -->
        <section class="service__area-6">
          <div class="container">
            <div class="row inherit-row">
              <div class="col-xxl-12">
                <div class="content-wrapper">
                  <div class="left-content">
                    <ul class="service__list-6">
                      <li class="active"><a href="#service_1">VISUAL IDENTITY <br>DESIGN</a></li>
                      <li><a href="#service_2">SOCIAL MEDIA<br>MANGEMENT</a></li>
                      <li><a href="#service_3">MEDIA <br>PRODUCTION</a></li>
                      <li><a href="#service_4">APPLICATIONS  <br>AND WEBSITES</a></li>
                      <li><a href="#service_5">SPONSORDED  <br>ADVERTISEMENT <br>MANGEMENT</a></li>
                      <li><a href="#service_6">PLANNING & <br> STRATEGY</a></li>
                    </ul>
                  </div>

                  <div class="mid-content">
                    <div class="service__image">
                      <img src="assets/imgs/service/1.png" alt="Service Image">
                    </div>
                    <div class="service__image">
                      <img src="assets/imgs/service/2.png" alt="Service Image">
                    </div>
                    <div class="service__image">
                      <img src="assets/imgs/service/3.png" alt="Service Image">
                    </div>
                    <div class="service__image">
                      <img src="assets/imgs/service/4.png" alt="Service Image">
                    </div>
                    <div class="service__image">
                      <img src="assets/imgs/service/6.png" alt="Service Image">
                    </div>
                    <div class="service__image">
                      <img src="assets/imgs/service/5.png" alt="Service Image">
                    </div>
                  </div>

                  <div class="right-content">
                    <div class="service__items-6">

                      <div class="service__item-6 has__service_animation" id="service_1" data-secid="1">
                        <div class="image-tab">
                          <img src="assets/imgs/service/1.png" alt="Service Image">
                        </div>

                        <div class="animation__service_page">
                          <h2 class="service__title-6">VISUAL IDENTITY DESIGN</h2>
                          <p>OUR AGENCY HAS THE UNIQUEST DIGITAL DESIGNS AND PUBLICATIONS WE WILL MALE YOU IDENTIFIABLE AND EYE-CATCHING COMPARED TO COMPETITORS USING
                            TRADITIONAL SCHOOL METHODS DESIGNED IN A
                            MODERN AND CONTEMPORARY STYLE WE BELIEVE
                            THAT THERE MUST BE DIFFERENCE AND DISTINCTION BETWEEN THE ESTABLISHMENT AND THE OTHER
                            
                            </p>
                         
                          <div class="btn_wrapper">
                            <a href="service-details.html" class="wc-btn-secondary btn-item btn-hover"><span></span>Get
                              free
                              <br>qoutes <i class="fa-solid fa-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                      <div class="service__item-6" id="service_2" data-secid="2">
                        <div class="image-tab">
                          <img src="assets/imgs/service/2.png" alt="Service Image">
                        </div>

                        <div class="animation__service_page">
                          <h2 class="service__title-6">SOCIAL MEDIA MANGEMENT</h2>
                          <p>OUR DISTINGUISHED TEAM WILL INTRODUCE YOU TO YOUR FACILITY USING SCHEDULED AND SPECIFIC STORIES , </br>
                            WE WILL ALSO WORL TO INCREASE THE NUMBER OF FOLLOWERS
                            WE COMMUNICATE WITH THEM TO ENSURE THE HIGHEST AND THE BEST OUTCOMES ??
                            </p>
                          
                          <div class="btn_wrapper">
                            <a href="service-details.html" class="wc-btn-secondary btn-item btn-hover"><span></span>Get
                              free
                              <br>qoutes <i class="fa-solid fa-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                      <div class="service__item-6" id="service_3" data-secid="3">

                        <div class="image-tab">
                          <img src="assets/imgs/service/3.png" alt="Service Image">
                        </div>

                        <div class="animation__service_page">
                          <h2 class="service__title-6">MEDIA PRODUCTION</h2>
                          <p>WE COMBINE CREATIVIT Y WITH THE LATEST TECHNOLOGY TO
                            CLARIFY YOUR MESSAGE TO THE AUDIENCE THROUGH CONTENT THAT IS INGRAINED IN THEIR MINDS AND IS COMPATIBLE WITH
                            THE DEVELOPMENT OF SOCIAL NETWORLING SITES, WHICH IS
                            COMPLETELY DIFFERENT FROM TELEVISION ADVERTISEMENTS IN TERMS OF QUALITY AND DURATION.
                            </p>
                          
                          <div class="btn_wrapper">
                            <a href="service-details.html" class="wc-btn-secondary btn-item btn-hover"><span></span>Get
                              free
                              <br>qoutes <i class="fa-solid fa-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                      <div class="service__item-6" id="service_4" data-secid="4">
                        <div class="image-tab">
                          <img src="assets/imgs/service/4.png" alt="Service Image">
                        </div>

                        <div class="animation__service_page">
                          <h2 class="service__title-6">APPLICATIONS  AND WEBSITES</h2>
                          <p>THE APPLICATIONS DEPARTMENT OF OUR AGENCY HELPS STARTUPS BASED ON BUILDING SUCCESSFUL APPLICATIONS AND WEBSITES USING
                            SPRINT DESIGN, WHICH WILL HELP US FIND MANY SOLUTIONS TO ALL CHALLENGES AS QUICLLY AS POSSIBLE.
                            </p>

                            <ul>
                              <li>APPLICATION DEVELOPMENT SERVICES </li><br>
                              <li>WEBSITE DEVELOPMENT SERVICES <br></li><br>
                              <li>USER EXPERIENCE AND USER INTERFACE SERVICES <br></li><br>
                             
                            </ul>
                          
                          <div class="btn_wrapper">
                            <a href="service-details.html" class="wc-btn-secondary btn-item btn-hover"><span></span>Get
                              free
                              <br>qoutes <i class="fa-solid fa-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                      <div class="service__item-6" id="service_5" data-secid="5">
                        <div class="image-tab">
                          <img src="assets/imgs/service/6.png" alt="Service Image">
                        </div>

                        <div class="animation__service_page">
                          <h2 class="service__title-6">SPONSORDED ADVERTISEMENT MANGEMENT</h2>
                          <p>DESIGNED FOR TODAY'S MARKET, WE VALUE BEING INFORMED AND KEEP PACE WITH EVERY DIGITAL PLATFORM AS WE MONITOR AND DEVELOP OUR PRACTICES TO REACH THE TARGET GROUPS.</p>
                          
                          <div class="btn_wrapper">
                            <a href="service-details.html" class="wc-btn-secondary btn-item btn-hover"><span></span>Get
                              free
                              <br>qoutes <i class="fa-solid fa-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                      <div class="service__item-6" id="service_6" data-secid="6">
                        <div class="image-tab">
                          <img src="assets/imgs/service/5.png" alt="Service Image">
                        </div>

                        <div class="animation__service_page">
                          <h2 class="service__title-6">PLANNING AND STRATEGIES</h2>
                         <p>FROM IDENTITY DESIGN AND PRODUCTION TO RESEARCH AND
                          MANAGEMENT OF SOCIAL MEDIA SITES, WE HAVE THE ELEMENTS YOU NEED TO EXPAND YOUR BUSINESS. OUR STRATEGIES WILL GUARANTEE YOU A SUCCESSFUL AND EASY-TO-IMPLEMENT
                          MARKETING PLAN .
                          </p>
                          <div class="btn_wrapper">
                            <a href="service-details.html" class="wc-btn-secondary btn-item btn-hover"><span></span>Get
                              free
                              <br>qoutes <i class="fa-solid fa-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service area end -->


      


        <!-- CTA area start -->
        <section class="cta__area">
          <div class="container line pt-100 pb-110 no-p">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="cta__content">
                  <p class="cta__sub-title">Work with us</p>
                  <h2 class="cta__title title-anim">We would love to hear more about your project</h2>
                  <div class="btn_wrapper">
                    <a href="/contact" class="wc-btn-primary btn-item btn-hover"><span></span>Let’s talk us <i
                        class="fa-solid fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA area end -->

      </main>



      <%- include('components/footer.ejs'); -%>



    </div>
  </div>



  <!-- All JS files -->
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/counter.js"></script>
  <script src="assets/js/gsap.min.js"></script>
  <script src="assets/js/ScrollTrigger.min.js"></script>
  <script src="assets/js/ScrollToPlugin.min.js"></script>
  <script src="assets/js/ScrollSmoother.min.js"></script>
  <script src="assets/js/SplitText.min.js"></script>
  <script src="assets/js/chroma.min.js"></script>
  <script src="assets/js/mixitup.min.js"></script>
  <script src="assets/js/vanilla-tilt.js"></script>
  <script src="assets/js/jquery.meanmenu.min.js"></script>
  <script src="assets/js/main.js"></script>


</body>

</html>